In [1]:
#Import necessary functions
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt

from datetime import datetime as dt

%matplotlib inline

In [2]:
#Import the dataset
df = pd.read_csv('data/Motor_Vehicle_Collisions_QuBr_2018-2023.csv')

#Initial look into dataset
df.head()

,CRASH DATE,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3822296,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
1,2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,NaN,NaN,NaN,3820945,Sedan,Bike,NaN,NaN,NaN
2,2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3819067,Sedan,NaN,NaN,NaN,NaN
3,2018-01-01 00:00:00,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3820851,Sedan,NaN,NaN,NaN,NaN
4,2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3821055,Taxi,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305681 entries, 0 to 305680
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     305681 non-null  object
 1   BOROUGH                        305681 non-null  object
 2   ZIP CODE                       305578 non-null  float64
 3   LATITUDE                       298746 non-null  float64
 4   LONGITUDE                      298746 non-null  float64
 5   NUMBER OF PERSONS INJURED      305678 non-null  float64
 6   NUMBER OF PERSONS KILLED       305679 non-null  float64
 7   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 9   CONTRIBUTING FACTOR VEHICLE 3  23851 non-null   object
 10  CONTRIBUTING FACTOR VEHICLE 4  6190 non-null    object
 11  CONTRIBUTING FACTOR VEHICLE 5  1919 non-null    object
 12  COLLISION_ID                   305681 non-null  int64
 13  VEHICLE TYPE CODE 1            302717 non-null  object
 14  VEHICLE TYPE CODE 2            219631 non-null  object
 15  VEHICLE TYPE CODE 3            22353 non-null   object
 16  VEHICLE TYPE CODE 4            5947 non-null    object
 17  VEHICLE TYPE CODE 5            1858 non-null    object
dtypes: float64(5), int64(1), object(12)
memory usage: 42.0+ MB

#### Changing DateTime Index

In [4]:
#Set to datetime index
df.set_index('CRASH DATE', inplace=True)

In [5]:
df.head()

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
CRASH DATE,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3822296,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,NaN,NaN,NaN,3820945,Sedan,Bike,NaN,NaN,NaN
2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,NaN,NaN,NaN,3819067,Sedan,NaN,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN,NaN,NaN,NaN,3820851,Sedan,NaN,NaN,NaN,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,3821055,Taxi,NaN,NaN,NaN,NaN

## EDA

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305681 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        305681 non-null  object
 1   ZIP CODE                       305578 non-null  float64
 2   LATITUDE                       298746 non-null  float64
 3   LONGITUDE                      298746 non-null  float64
 4   NUMBER OF PERSONS INJURED      305678 non-null  float64
 5   NUMBER OF PERSONS KILLED       305679 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 3  23851 non-null   object
 9   CONTRIBUTING FACTOR VEHICLE 4  6190 non-null    object
 10  CONTRIBUTING FACTOR VEHICLE 5  1919 non-null    object
 11  COLLISION_ID                   305681 non-null  int64
 12  VEHICLE TYPE CODE 1            302717 non-null  object
 13  VEHICLE TYPE CODE 2            219631 non-null  object
 14  VEHICLE TYPE CODE 3            22353 non-null   object
 15  VEHICLE TYPE CODE 4            5947 non-null    object
 16  VEHICLE TYPE CODE 5            1858 non-null    object
dtypes: float64(5), int64(1), object(11)
memory usage: 42.0+ MB

#### Dropping Columns

In [7]:
#drop additional contributing factor vehicle columns
df.drop(['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'], axis=1, inplace=True)

#drop additional vehicle type columns
df.drop(['VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4', 'VEHICLE TYPE CODE 5'], axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305681 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        305681 non-null  object
 1   ZIP CODE                       305578 non-null  float64
 2   LATITUDE                       298746 non-null  float64
 3   LONGITUDE                      298746 non-null  float64
 4   NUMBER OF PERSONS INJURED      305678 non-null  float64
 5   NUMBER OF PERSONS KILLED       305679 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  304302 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 8   COLLISION_ID                   305681 non-null  int64
 9   VEHICLE TYPE CODE 1            302717 non-null  object
 10  VEHICLE TYPE CODE 2            219631 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 28.0+ MB

In [9]:
df.head()

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,3822296,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,3819067,Sedan,NaN
2018-01-01 00:00:00,BROOKLYN,11239.0,40.65306,-73.88202,0.0,0.0,Driver Inattention/Distraction,NaN,3820851,Sedan,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,3821055,Taxi,NaN

In [10]:
#Drop NaN values from columns of contributing factors
df = df.dropna(subset=['CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2'])

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246228 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        246228 non-null  object
 1   ZIP CODE                       246143 non-null  float64
 2   LATITUDE                       240685 non-null  float64
 3   LONGITUDE                      240685 non-null  float64
 4   NUMBER OF PERSONS INJURED      246227 non-null  float64
 5   NUMBER OF PERSONS KILLED       246227 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  246228 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  246228 non-null  object
 8   COLLISION_ID                   246228 non-null  int64
 9   VEHICLE TYPE CODE 1            246176 non-null  object
 10  VEHICLE TYPE CODE 2            217464 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 22.5+ MB

In [12]:
df.head()

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62418,-73.97048,0.0,0.0,Driver Inattention/Distraction,Unspecified,3822296,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 00:00:00,BROOKLYN,11234.0,40.62877,-73.91825,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:00:00,QUEENS,11419.0,40.68297,-73.82824,0.0,0.0,Passing Too Closely,Unspecified,3819067,Sedan,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.62322,-73.96102,0.0,0.0,Driver Inattention/Distraction,Unspecified,3821055,Taxi,NaN
2018-01-01 00:05:00,BROOKLYN,11211.0,40.71846,-73.95281,0.0,0.0,Failure to Yield Right-of-Way,Unspecified,3818641,Sedan,NaN

In [13]:
df['NUMBER OF PERSONS KILLED'].isnull().sum()

1

In [14]:
df['NUMBER OF PERSONS INJURED'].isnull().sum()

1

In [15]:
df = df.dropna(subset='NUMBER OF PERSONS KILLED')
df['NUMBER OF PERSONS KILLED'].isnull().sum()

0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 246227 entries, 2018-01-01 00:00:00 to 2023-01-01 23:30:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        246227 non-null  object
 1   ZIP CODE                       246142 non-null  float64
 2   LATITUDE                       240684 non-null  float64
 3   LONGITUDE                      240684 non-null  float64
 4   NUMBER OF PERSONS INJURED      246226 non-null  float64
 5   NUMBER OF PERSONS KILLED       246227 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  246227 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  246227 non-null  object
 8   COLLISION_ID                   246227 non-null  int64
 9   VEHICLE TYPE CODE 1            246175 non-null  object
 10  VEHICLE TYPE CODE 2            217463 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 22.5+ MB

In [17]:
#Review the contributing factors
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(sort=True).head(50)

Driver Inattention/Distraction                           69337
Unspecified                                              46519
Failure to Yield Right-of-Way                            21386
Following Too Closely                                    16324
Backing Unsafely                                         14177
Passing Too Closely                                      12785
Passing or Lane Usage Improper                           12321
Traffic Control Disregarded                               6769
Turning Improperly                                        6437
Other Vehicular                                           5630
Unsafe Speed                                              5071
Driver Inexperience                                       4433
Unsafe Lane Changing                                      4178
Alcohol Involvement                                       3565
Reaction to Uninvolved Vehicle                            2654
View Obstructed/Limited                                   2135
Pavement Slippery                                         1597
Oversized Vehicle                                         1431
Aggressive Driving/Road Rage                              1277
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion     1195
Brakes Defective                                           949
Fell Asleep                                                914
Passenger Distraction                                      690
Steering Failure                                           465
Outside Car Distraction                                    452
Failure to Keep Right                                      331
Glare                                                      324
Lost Consciousness                                         317
Illnes                                                     303
Tire Failure/Inadequate                                    289
Fatigued/Drowsy                                            258
Obstruction/Debris                                         243
Driverless/Runaway Vehicle                                 225
Accelerator Defective                                      160
Drugs (illegal)                                            154
Animals Action                                             149
Pavement Defective                                         129
Traffic Control Device Improper/Non-Working                115
Lane Marking Improper/Inadequate                           109
Cell Phone (hand-Held)                                     100
Physical Disability                                         80
Other Lighting Defects                                      31
Tow Hitch Defective                                         29
Headlights Defective                                        28
Vehicle Vandalism                                           26
Eating or Drinking                                          25
Other Electronic Device                                     22
Tinted Windows                                              19
Prescription Medication                                     18
Using On Board Navigation Device                            16
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [18]:
df

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.624180,-73.970480,0.0,0.0,Driver Inattention/Distraction,Unspecified,3822296,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 00:00:00,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:00:00,QUEENS,11419.0,40.682970,-73.828240,0.0,0.0,Passing Too Closely,Unspecified,3819067,Sedan,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.623220,-73.961020,0.0,0.0,Driver Inattention/Distraction,Unspecified,3821055,Taxi,NaN
2018-01-01 00:05:00,BROOKLYN,11211.0,40.718460,-73.952810,0.0,0.0,Failure to Yield Right-of-Way,Unspecified,3818641,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 21:30:00,QUEENS,11419.0,40.694680,-73.814285,0.0,0.0,Driver Inattention/Distraction,Unspecified,4594799,Station Wagon/Sport Utility Vehicle,NaN
2023-01-01 22:10:00,BROOKLYN,11211.0,40.703434,-73.960350,0.0,0.0,Driver Inattention/Distraction,Unspecified,4595466,Bus,Bus
2023-01-01 22:30:00,BROOKLYN,11206.0,40.706806,-73.948780,0.0,0.0,Backing Unsafely,Unspecified,4595464,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 23:15:00,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular,4594565,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 23:30:00,BROOKLYN,11249.0,40.701660,-73.961464,0.0,0.0,Following Too Closely,Unspecified,4594621,Sedan,Sedan

In [20]:
df2 = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
df2

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11230.0,40.624180,-73.970480,0.0,0.0,Driver Inattention/Distraction,Unspecified,3822296,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 00:00:00,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:00:00,QUEENS,11419.0,40.682970,-73.828240,0.0,0.0,Passing Too Closely,Unspecified,3819067,Sedan,NaN
2018-01-01 00:00:00,BROOKLYN,11230.0,40.623220,-73.961020,0.0,0.0,Driver Inattention/Distraction,Unspecified,3821055,Taxi,NaN
2018-01-01 00:05:00,BROOKLYN,11211.0,40.718460,-73.952810,0.0,0.0,Failure to Yield Right-of-Way,Unspecified,3818641,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 21:30:00,QUEENS,11419.0,40.694680,-73.814285,0.0,0.0,Driver Inattention/Distraction,Unspecified,4594799,Station Wagon/Sport Utility Vehicle,NaN
2023-01-01 22:10:00,BROOKLYN,11211.0,40.703434,-73.960350,0.0,0.0,Driver Inattention/Distraction,Unspecified,4595466,Bus,Bus
2023-01-01 22:30:00,BROOKLYN,11206.0,40.706806,-73.948780,0.0,0.0,Backing Unsafely,Unspecified,4595464,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 23:15:00,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular,4594565,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 23:30:00,BROOKLYN,11249.0,40.701660,-73.961464,0.0,0.0,Following Too Closely,Unspecified,4594621,Sedan,Sedan

In [21]:
df2 = df[df['CONTRIBUTING FACTOR VEHICLE 2'] != 'Unspecified']
df2

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:48:00,BROOKLYN,11203.0,40.639260,-73.937770,0.0,0.0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working,3821048,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 01:30:00,QUEENS,11101.0,40.740913,-73.952260,0.0,0.0,Following Too Closely,Following Too Closely,3819375,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2018-01-01 01:55:00,BROOKLYN,11226.0,40.652412,-73.953960,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3821031,Sedan,Sedan
2018-01-01 02:29:00,QUEENS,11418.0,40.694690,-73.835050,2.0,0.0,Other Vehicular,Following Too Closely,3820976,Station Wagon/Sport Utility Vehicle,Sedan
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 10:15:00,BROOKLYN,11207.0,40.678160,-73.897484,0.0,0.0,Driver Inattention/Distraction,Driver Inexperience,4594589,Sedan,Sedan
2023-01-01 14:53:00,BROOKLYN,11208.0,40.660797,-73.871830,2.0,0.0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,4594583,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 19:26:00,QUEENS,11434.0,40.689915,-73.777900,1.0,0.0,Passenger Distraction,Driver Inattention/Distraction,4594645,Sedan,Sedan
2023-01-01 20:45:00,BROOKLYN,11209.0,40.622860,-74.025350,5.0,0.0,Unsafe Speed,Failure to Yield Right-of-Way,4594571,Sedan,Sedan
2023-01-01 23:15:00,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular,4594565,Station Wagon/Sport Utility Vehicle,Sedan

In [24]:
df2 = df2.dropna(subset=['LATITUDE', 'LONGITUDE'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31896 entries, 2018-01-01 00:00:00 to 2023-01-01 23:15:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   BOROUGH                        31896 non-null  object
 1   ZIP CODE                       31890 non-null  float64
 2   LATITUDE                       31896 non-null  float64
 3   LONGITUDE                      31896 non-null  float64
 4   NUMBER OF PERSONS INJURED      31896 non-null  float64
 5   NUMBER OF PERSONS KILLED       31896 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  31896 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  31896 non-null  object
 8   COLLISION_ID                   31896 non-null  int64
 9   VEHICLE TYPE CODE 1            31892 non-null  object
 10  VEHICLE TYPE CODE 2            30862 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 2.9+ MB

In [25]:
df2[df2['ZIP CODE'].isna()]

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-18 17:20:00,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3831700,Sedan,Sedan
2018-03-24 23:20:00,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3868814,Sedan,Sedan
2018-04-18 18:00:00,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3884297,Pick-up Truck,Station Wagon/Sport Utility Vehicle
2019-04-01 17:00:00,QUEENS,NaN,40.72010,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,4107049,Station Wagon/Sport Utility Vehicle,Sedan
2022-02-22 18:52:00,QUEENS,NaN,40.72013,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,4507585,Sedan,Station Wagon/Sport Utility Vehicle
2022-06-27 09:27:00,QUEENS,NaN,40.72013,-73.79038,1.0,0.0,Unsafe Lane Changing,Unsafe Lane Changing,4541523,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle

In [ ]:
df['ZIP CODE'].replace(('Dwe', 'DW', 'TWE', 'dwe', 'DWE/Anglican church', 'RWE'), ('DWE'), inplace=True)

In [32]:
#Impute rows with missing zip code values
df2.loc['2018-01-18 17:20:00','ZIP CODE'] = 11432
df2.loc['2018-03-24 23:20:00','ZIP CODE'] = 11432
df2.loc['2018-04-18 18:00:00','ZIP CODE'] = 11432
df2.loc['2019-04-01 17:00:00','ZIP CODE'] = 11432
df2.loc['2022-02-22 18:52:00','ZIP CODE'] = 11432
df2.loc['2022-06-27 09:27:00','ZIP CODE'] = 11432

In [33]:
#Sanity check to confirm zipcode was imputed for indexed row
df2[df2.index.isin(['2018-01-18 17:20:00'])]

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-18 17:20:00,QUEENS,11432.0,40.7201,-73.79038,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3831700,Sedan,Sedan

In [34]:
#Sanity check to confirm there's no more NaN values in Zip Code column
df2[df2['ZIP CODE'].isna()]

Empty DataFrame
Columns: [BOROUGH, ZIP CODE, LATITUDE, LONGITUDE, NUMBER OF PERSONS INJURED, NUMBER OF PERSONS KILLED, CONTRIBUTING FACTOR VEHICLE 1, CONTRIBUTING FACTOR VEHICLE 2, COLLISION_ID, VEHICLE TYPE CODE 1, VEHICLE TYPE CODE 2]
Index: []

In [35]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31896 entries, 2018-01-01 00:00:00 to 2023-01-01 23:15:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   BOROUGH                        31896 non-null  object
 1   ZIP CODE                       31896 non-null  float64
 2   LATITUDE                       31896 non-null  float64
 3   LONGITUDE                      31896 non-null  float64
 4   NUMBER OF PERSONS INJURED      31896 non-null  float64
 5   NUMBER OF PERSONS KILLED       31896 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  31896 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  31896 non-null  object
 8   COLLISION_ID                   31896 non-null  int64
 9   VEHICLE TYPE CODE 1            31892 non-null  object
 10  VEHICLE TYPE CODE 2            30862 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 3.9+ MB

In [16]:
#Drop NaN rows
df = df.dropna(subset='CONTRIBUTING FACTOR VEHICLE 1')

In [20]:
df2 = df.dropna(subset=['NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED'])

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 767476 entries, 2018-01-01 00:00:00 to 2023-01-01 23:45:00
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   BOROUGH                        498668 non-null  object
 1   ZIP CODE                       498550 non-null  object
 2   LATITUDE                       708480 non-null  float64
 3   LONGITUDE                      708480 non-null  float64
 4   NUMBER OF PERSONS INJURED      767476 non-null  float64
 5   NUMBER OF PERSONS KILLED       767476 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  767476 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  628314 non-null  object
 8   CONTRIBUTING FACTOR VEHICLE 3  60855 non-null   object
 9   CONTRIBUTING FACTOR VEHICLE 4  14700 non-null   object
 10  CONTRIBUTING FACTOR VEHICLE 5  4202 non-null    object
 11  COLLISION_ID                   767476 non-null  int64
 12  VEHICLE TYPE CODE 1            763304 non-null  object
 13  VEHICLE TYPE CODE 2            572499 non-null  object
 14  VEHICLE TYPE CODE 3            57407 non-null   object
 15  VEHICLE TYPE CODE 4            14033 non-null   object
 16  VEHICLE TYPE CODE 5            4054 non-null    object
dtypes: float64(4), int64(1), object(12)
memory usage: 105.4+ MB

In [18]:
df3 = df2[df2['CONTRIBUTING FACTOR VEHICLE 2'] != 'Unspecified']

In [19]:
df3

,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
CRASH DATE,,,,,,,,,,,
2018-01-01 00:00:00,BROOKLYN,11234.0,40.628770,-73.918250,1.0,0.0,Failure to Yield Right-of-Way,Passing or Lane Usage Improper,3820945,Sedan,Bike
2018-01-01 00:48:00,BROOKLYN,11203.0,40.639260,-73.937770,0.0,0.0,Traffic Control Device Improper/Non-Working,Traffic Control Device Improper/Non-Working,3821048,Station Wagon/Sport Utility Vehicle,Sedan
2018-01-01 01:30:00,QUEENS,11101.0,40.740913,-73.952260,0.0,0.0,Following Too Closely,Following Too Closely,3819375,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
2018-01-01 01:55:00,BROOKLYN,11226.0,40.652412,-73.953960,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,3821031,Sedan,Sedan
2018-01-01 02:29:00,QUEENS,11418.0,40.694690,-73.835050,2.0,0.0,Other Vehicular,Following Too Closely,3820976,Station Wagon/Sport Utility Vehicle,Sedan
...,...,...,...,...,...,...,...,...,...,...,...
2023-01-01 10:15:00,BROOKLYN,11207.0,40.678160,-73.897484,0.0,0.0,Driver Inattention/Distraction,Driver Inexperience,4594589,Sedan,Sedan
2023-01-01 14:53:00,BROOKLYN,11208.0,40.660797,-73.871830,2.0,0.0,Failure to Yield Right-of-Way,Failure to Yield Right-of-Way,4594583,Station Wagon/Sport Utility Vehicle,Sedan
2023-01-01 19:26:00,QUEENS,11434.0,40.689915,-73.777900,1.0,0.0,Passenger Distraction,Driver Inattention/Distraction,4594645,Sedan,Sedan
2023-01-01 20:45:00,BROOKLYN,11209.0,40.622860,-74.025350,5.0,0.0,Unsafe Speed,Failure to Yield Right-of-Way,4594571,Sedan,Sedan
2023-01-01 23:15:00,QUEENS,11369.0,40.757430,-73.876230,0.0,0.0,Other Vehicular,Other Vehicular,4594565,Station Wagon/Sport Utility Vehicle,Sedan

In [25]:
df3 = df3[df3['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']
df3 = df3[df3['CONTRIBUTING FACTOR VEHICLE 2'] != 'Unspecified']

In [26]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32690 entries, 2018-01-01 00:00:00 to 2023-01-01 23:15:00
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   BOROUGH                        32690 non-null  object
 1   ZIP CODE                       32684 non-null  float64
 2   LATITUDE                       31896 non-null  float64
 3   LONGITUDE                      31896 non-null  float64
 4   NUMBER OF PERSONS INJURED      32690 non-null  float64
 5   NUMBER OF PERSONS KILLED       32690 non-null  float64
 6   CONTRIBUTING FACTOR VEHICLE 1  32690 non-null  object
 7   CONTRIBUTING FACTOR VEHICLE 2  32690 non-null  object
 8   COLLISION_ID                   32690 non-null  int64
 9   VEHICLE TYPE CODE 1            32686 non-null  object
 10  VEHICLE TYPE CODE 2            31632 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 3.0+ MB

In [8]:
df = df.dropna(subset=['CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4', 'CONTRIBUTING FACTOR VEHICLE 5'])

In [9]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
335,09/11/2021,2:00,BROOKLYN,11208,40.675390,-73.881130,0.0,0.0,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,Unspecified,4456279,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
376,09/10/2021,17:08,MANHATTAN,10029,40.791940,-73.952810,1.0,0.0,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,4456791,Taxi,Sedan,Sedan,Sedan,NaN
442,09/11/2021,2:05,STATEN ISLAND,10304,40.590313,-74.097940,0.0,0.0,Animals Action,Unspecified,Unspecified,Unspecified,Unspecified,4456752,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
539,04/11/2021,8:56,NaN,NaN,40.672530,-73.798386,0.0,0.0,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,Unspecified,4407785,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan
766,04/13/2021,20:15,NaN,NaN,40.642540,-73.876520,2.0,0.0,Following Too Closely,Following Too Closely,Following Too Closely,Unspecified,Unspecified,4407756,Station Wagon/Sport Utility Vehicle,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978999,03/23/2023,19:52,NaN,NaN,40.721600,-73.941864,2.0,0.0,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,4615648,Sedan,Sedan,Sedan,Sedan,Sedan
1979399,03/26/2023,4:12,QUEENS,11417,40.677850,-73.848720,0.0,0.0,Alcohol Involvement,Unspecified,Unspecified,Unspecified,Unspecified,4615704,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
1979451,03/26/2023,23:35,BROOKLYN,11208,40.686115,-73.869920,1.0,0.0,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,Unspecified,4616006,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,Sedan
1979466,03/26/2023,11:30,QUEENS,11434,40.659650,-73.773834,7.0,0.0,Unsafe Lane Changing,Unspecified,Unspecified,Unspecified,Unspecified,4615571,Sedan,Taxi,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
1979798,03/27/2023,23:20,BRONX,10473,40.807587,-73.852295,1.0,0.0,Unsafe Speed,Unspecified,Unspecified,Unspecified,Unspecified,4616160,Sedan,Sedan,Sedan,Sedan,Sedan

In [11]:
df = df[df['CONTRIBUTING FACTOR VEHICLE 2'] != 'Unspecified']

In [12]:
df

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
766,04/13/2021,20:15,NaN,NaN,40.642540,-73.876520,2.0,0.0,Following Too Closely,Following Too Closely,Following Too Closely,Unspecified,Unspecified,4407756,Station Wagon/Sport Utility Vehicle,Pick-up Truck,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan
1440,09/07/2021,11:03,NaN,NaN,NaN,NaN,1.0,0.0,Following Too Closely,Following Too Closely,Following Too Closely,Following Too Closely,Unspecified,4456754,Sedan,Sedan,Sedan,Sedan,Sedan
2076,09/12/2021,1:49,NaN,NaN,40.822308,-73.938590,0.0,0.0,Unsafe Speed,Other Vehicular,Other Vehicular,Other Vehicular,Other Vehicular,4457137,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan,Sedan
2530,09/12/2021,17:30,BROOKLYN,11203,40.639793,-73.929115,1.0,0.0,Traffic Control Disregarded,Traffic Control Disregarded,Unspecified,Unspecified,Unspecified,4456337,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Sedan
2558,09/12/2021,17:13,BRONX,10455,40.813095,-73.898270,4.0,0.0,View Obstructed/Limited,Driver Inexperience,Unspecified,Unspecified,Unspecified,4457154,Sedan,Sedan,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1975412,02/28/2023,0:35,NaN,NaN,NaN,NaN,0.0,0.0,Pavement Slippery,Pavement Slippery,Pavement Slippery,Pavement Slippery,Driver Inexperience,4611633,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,Sedan
1975715,03/11/2023,2:40,BROOKLYN,11232,40.647410,-74.018684,0.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,Unspecified,Unspecified,Unspecified,4612166,Sedan,Sedan,Sedan,Sedan,NaN
1975735,03/11/2023,22:20,NaN,NaN,40.753407,-73.852356,1.0,0.0,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,Driver Inattention/Distraction,4611943,Sedan,Sedan,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
1976926,03/16/2023,5:05,NaN,NaN,40.813220,-73.897835,0.0,0.0,Pavement Slippery,Pavement Slippery,Pavement Slippery,Pavement Slippery,Pavement Slippery,4613428,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Sedan
1978828,03/20/2023,5:55,NaN,NaN,40.722576,-73.940490,2.0,0.0,Reaction to Uninvolved Vehicle,Following Too Closely,Other Vehicular,Following Too Closely,Following Too Closely,4615640,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan

In [ ]:
df.info()

In [ ]:
df['ZIP CODE'].isnull().sum()

In [ ]:
#Review the contributing factors
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts(sort=True).head(50)

In [ ]:
df['CONTRIBUTING FACTOR VEHICLE 2'].value_counts(sort=True).head(50)